@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

* {
    margin: 0;
    padding: 0;

}


main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    width: 45em;
    margin: 0 auto;
    padding-top: 4em;
    padding-bottom: 4em;

}

body {
    background-color: #EBF2F1;
}

#title {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 58px;
    line-height: 60px;
    letter-spacing: 3%;
    padding-bottom: 1em;

}

#intro {
    font-family: 'Assistant', sans-serif;
    font-size: 21px;
    line-height: 34px;

}

.line {

    margin: 1em 2em 1em 2em;
    color: #3A8070;
}


.grid-item-1 {

    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;

}

.input {

    align-items: flex-start;
    border-radius: 3.4px;
    border: none;
    box-shadow: inset 0px -3px 0px #DDDEE0;
    width: 43%;
    height: 3em;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    /* outline: 3px solid #EBF2F1; */

}

.input:hover {
    outline: 3px solid #EBF2F1;

}

.input:focus {
    box-shadow: inset 0px -3px 0px #3A8070;
    outline: 3px solid #EBF2F1;

}

.input2 {

    align-items: flex-start;
    box-shadow: inset 0px -3px 0px #DDDEE0;
    border-radius: 3.4px;
    border: none;
    width: 11em;
    width: 48%;
    height: 3em;
    padding-left: 10px;
    margin-left: 1em;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;


}

.input2:hover {

    outline: 3px solid #EBF2F1;
}

.input2:focus {
    box-shadow: inset 0px -3px 0px #3A8070;
    outline: 3px solid #EBF2F1;

}

.input1 {

    box-shadow: inset 0px -3px 0px #DDDEE0;
    border-radius: 3.4px;
    border: none;
    width: 96%;
    height: 3em;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.input1:hover {

    outline: 3px solid #EBF2F1;
}

.input1:focus {
    box-shadow: inset 0px -3px 0px #3A8070;
    outline: 3px solid #EBF2F1;

}

.label {

    display: flex;
    font-family: 'Assistant', sans-serif;
    font-size: 17px;
    line-height: 22px;
    flex: 1;

}

select {
    display: flex;
    font-family: 'Assistant', sans-serif;
    font-size: 17px;
    line-height: 22px;
    flex: 1;
    width: 100%;
    height: 2em;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    box-shadow: inset 0px -3px 0px #DDDEE0;
    outline: 3px solid #EBF2F1;
    border: none;
    border-radius: 3.4px;
}

select:hover {

    outline: 3px solid #EBF2F1;
}

select:focus {
    box-shadow: inset 0px -3px 0px #3A8070;
    outline: 3px solid #EBF2F1;

}

#name {
    display: flex;

}

#name1 {
    display: flex;
    justify-content: center;
    margin: 1em;
}

textarea {
    min-width: 100%;
    min-height: 10em;
    max-width: 24em;
    max-height: 14em;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    box-shadow: inset 0px -3px 0px #DDDEE0;

}

textarea:hover {

    outline: 3px solid #EBF2F1;
}

textarea:focus {
    box-shadow: inset 0px -3px 0px #3A8070;
    outline: 3px solid #EBF2F1;

}

#sendbutton {
    background-color: #3A8070;
    color: #FFFFFF;

    padding: 12.75px 25.5px;
    border: 1px solid #3A8070;
    border-radius: 3.4px;
    cursor: pointer;

}

#sendbutton:hover {

    background-color: #FFFFFF;
    color: #3A8070;
    box-shadow: 0px 0px 0px 4px rgba(58, 128, 112, 0.2);
}



.grid-item-2 {
    background-color: #FFFFFF;
    display: flex;
    padding: 1em;
    box-shadow: 0px 0px 4px 4px rgba(58, 128, 112, 0.2);

}

.grid-item-3 {

    text-align: center;
}

#adress {

    width: 10em;
    height: 6em;
    background-color: #3A8070;
    display: flex;
    align-items: center;
    justify-content: center;



}

.icons {
    width: 3em;
    height: 3em;
    margin-right: 1.5em;
    /* verander kleur in svg */
}

.iconsSocials {
    width: 5em;
    height: 5em;
    margin: 0em 1.5em 0em 1.5em;
    opacity: 75%;
    box-sizing: border-box;
}

.iconsSocials:hover {
    opacity: 100%;
    border-bottom: 2px solid #3A8070;

}

.container {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 2em;

}


li {
    line-height: 23px;
    list-style: none;
    font-family: 'Assistant', sans-serif;
    font-size: 17px;
    color: #FFFFFF;

}




@media only screen and (max-width: 776px) {

    main {
        width: 30em;
    }

    .grid-item-2 {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: center;
    }

    .grid-item-3 {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }

}


@media only screen and (max-width: 576px) {

    main {
        width: 25em;

    }

    .grid-item-2 {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: center;
    }

    .grid-item-3 {
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
    }

}